:root {
    --primary-color: #2B55A6;
    --secondary-color: #0F2264;
    --text-color: #FBFAFB;
    --text-color-2: #8392c8;
    --dark-color: #171515;
    --primary-load: #CED6F3;
    --secondary-load: #9CAADC;

    --yellow: #EECC75;
    --green: #CAD297;

    --font-family-titles: 'DM Sans', sans-serif;
    --font-family-text: 'Inter', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

.movie-container {
    min-height: 450px;
    height: 450px;
    width: 300px;
    min-width: 300px;
}

.movie-img {
    min-height: 450px;
}

/*.trendingPreview-movieList, .trendingPreview-serieList {
    min-height: 450px;
}*/

.trendingPreview-movieList .movie-container .movie-img, .trendingPreview-serieList .movie-container .movie-img {
    min-height: 450px;
    width: 300px;
    max-width: 300px;
}

.genericList-container .movie-container {
    width: 300px;
    min-height: 550px;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
}

.relatedMovies-scrollContainer {
    min-height: 450px;
}

.relatedMovies-scrollContainer .movie-img {
    min-height: 450px;
    width: 300px;
    max-width: 300px;
    border-radius: 8px;
}

.movieDetail-container__div footer {
    margin-top: 300px;
}

.movieDetail-container__div {
    font-size: 2rem;
    line-height: 3rem;
}

.movieDetail-container__div .category-title{
    line-height: 2rem;
}

.categoriesPreview-container__div .category-title{
    line-height: 1.8rem;
}

h1,h2, h3 {
    font-size: 2.5rem;
    line-height: 3rem;
}

/* Loading skeleton */

.trendingPreview-movieList .movie-container-load, .trendingPreview-serieList .movie-container-load {
    width: 300px;
    min-width: 300px;
    /*animation-name: imageLoad;
    animation-duration: 4s;
    animation-iteration-count: infinite;*/
}

.genericList-container__div .movie-container-load-generic {
    width: 300px;
    height: 450px;
}

.relatedMovies-scrollContainer .movie-container-load-related {
    width: 225px;
    min-width: 225px;
    height: 350px;
}

.trendingPreview-movieList .movie-img .visible {
    opacity: 1;
    transform: scale(1);
}

.movie-body .movie-body-title {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.movie-favorite {
    width: 40px;
    height: 40px;
}

.liked {
    width: 40px;
    height: 40px;
}