/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2B55A6;
    --secondary-color: #0F2264;
    --text-color: #FBFAFB;
    --text-color-2: #8392c8;
    --dark-color: #171515;
    --primary-load: #CED6F3;
    --secondary-load: #9CAADC;

    --yellow: #EECC75;
    --green: #CAD297;

    --font-family-titles: 'DM Sans', sans-serif;
    --font-family-text: 'Inter', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

html {
    background: linear-gradient(172.45deg, var(--primary-color) 24.02%, var(--dark-color) 97.41%);
    font-size: 60.5%;
    color: var(--text-color);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
}


h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 24px;
    color: var(--text-color);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
    color: var(--text-color);
    font-weight: var(--font-weight-title2);
}

h3 {
    color: var(--text-color);
    font-weight: var(--font-weight-text2);
    font-size: 16px;
}

input {
    background-color: var(--text-color);
    color: var(--secondary-color);
    border: none;
    font-size: 1.8rem;
    padding-left: 16px;
}

input::placeholder {
    color: var(--text-color-2);
    font-family: var(--font-family-text);
}

button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}


  /* Shared */
.header-container {
    width: 100%;
    min-width: 320px;
}

.trendingPreview-container, .categoriesPreview-container {
    margin-top: 45px;
    width: 100%;
    min-width: 320px;
    position: relative;
}

.trendingPreview-header, .categoriesPreview-title {
    margin-bottom: 24px;
}

.trendingPreview-header {
    margin: 0 auto;
    width: 90%;
    min-width: 288px;
}

.movie-container {
    cursor: pointer;
    position: relative;
    min-height: 225px;
    width: 155px;
    min-width: 155px;
    max-width: 155px;
    display: block;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out;
}

.movie-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-height: 225px;
    margin-bottom: 0px;

}

.flag-mx, .flag-us, .flag-fr {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.flag-mx {
    background-image: url("../icon/mx_icon.svg");
}
.flag-us {
    background-image: url("../icon/us_icon.svg");
}
.flag-fr {
    background-image: url("../icon/fr_icon.svg");
}


.categoriesPreview-list, .categoriesPreview-listTV, .categories-list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 16px;
    min-width: 288px;
    gap: 10px;
}


/* Header */
.header-container {
    padding-top: 40px;
    position: relative;
}

.header-container--long {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 89.27%, rgba(0, 0, 0, 0) 39.17%), url(../img/default_movie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}

.header-title {
    padding-top: 16px;
    margin-left: 70px;
    margin-bottom: 15px;
}

.header-logo {
    display: inline-block;
    background-image: url("../icon/movie_icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    position: absolute;
    /*top: calc(25% - 12.5px);*/
}

.header-arrow {
    /*display: inline-block;
    font-weight: var(--font-weight-text2);
    font-size: 36px;
    margin-bottom: 16px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;*/
    margin-top: 9px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    padding-top: 6px;
    font-size: 3rem;
    text-align: center;
    position: fixed;
    background-blend-mode: multiply;
    opacity: 0.8;
    z-index: 1;
    cursor: pointer;
}
.header-arrow--white {
    color: var(--purple-light-1);
}

/*.header-container section {
    width: 90%;
    margin: 0 auto;
}*/

.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 288px;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.header-searchForm input:focus, .header-searchForm button:hover {
    box-shadow: 0 1px 8px 0 rgba(255, 255, 255, 0.488);
    border: #dfe1e500;
    cursor: pointer;
}

.header-searchForm input {
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}


.header-searchForm button {
    width: 56px;
    height: 49.2px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header-searchForm span {
    display: inline-block;
    background-image: url("../icon/search_icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    margin-top: 5px;
}

.header-container article {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.header-title-logo{
    width: 65%;
    min-width: 288px;
}

.favorites-btn{
    width: 108px;
    min-width: 108px;
    height: 35px;
    background-color: var(--text-color);
    color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    justify-content: end;
}

.language-section{
    width: 10%;
    min-width: 150px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: end;
}
/* Trending */
.trendingPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.trendingPreview-btn, .trendingPreviewSeries-btn {
    border-radius: 10px;
    height: 25px;
    width: 88px;
    display: flex;
    justify-content: center;
    background-color: var(--text-color);
    border: none;
    color: var(--primary-color);
}

.trendingPreview-btn span, .trendingPreviewSeries-btn span {
    display: inline-block;
    background-image: url("../icon/filmplus_icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-top: 5px;
    margin-right: 4px;
}

.trendingPreview-btn p, .trendingPreviewSeries-btn p {
    margin-top: 6px;
}

.trendingPreview-movieList, .trendingPreview-serieList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    min-height: 251px;
    width: 90%;
    min-width: 288px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #0808084d;
    gap: 8px;
}


.trendingPreview-movieList .movie-container, .trendingPreview-serieList .movie-container {
    flex: 0 0 auto;
    margin-right: 8px;
    display: inline-block;
    animation-name: fadeIn;
    animation-duration: 4s;
}


.trendingPreview-movieList .movie-container .movie-img, .trendingPreview-serieList .movie-container .movie-img  {
    min-height: 231px;
    max-height: 275px;
    width: 155px;
    min-width: 155px;
    max-width: 155px;
    display: block;
    border-radius: 8px;
}

.trendingPreview-container h3 {
    width: 70%;
    margin-left: 5px;
}

/* Categories */

.categoriesPreview-container .categoriesPreview-container__div {
    margin: 0 auto;
    width: 90%;
    min-width: 288px;
}
.category-container {
    width: auto;
    min-width: 108px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.light {
    width: auto;
    min-width: 108px;
    height: 40px;
    background-color: var(--text-color);
    color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}

.light .category-title {
    color: var(--primary-color);
    padding-top: 10px;
}

.category-title {
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    padding-top: 12px;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/*.category-title::before {
    content: '••••';
    color: transparent;
    / TODO: cambiar color por ID de la categoría 
    background-color: var(--idColor);
    border-radius: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
}
#id28 { --idColor: var(--yellow); }
#id12 { --idColor: var(--red); }
#id16 { --idColor: var(--green); }
#id35 { --idColor: var(--lightBlue); }
#id80 { --idColor: var(--darkBlue); }
#id99 { --idColor: var(--purple-dark-1); }
#id18 { --idColor: var(--text-color-2); }
#id10751 { --idColor: var(--yellow); }
#id14 { --idColor: var(--red); }
#id36 { --idColor: var(--green); }
#id27 { --idColor: var(--lightBlue); }
#id10402 { --idColor: var(--darkBlue); }
#id9648 { --idColor: var(--purple-dark-1); }
#id10749 { --idColor: var(--text-color-2); }
#id878 { --idColor: var(--yellow); }
#id10770 { --idColor: var(--red); }
#id53 { --idColor: var(--green); }
#id10752 { --idColor: var(--lightBlue); }
#id37 { --idColor: var(--darkBlue); }
*/

/* Generic List (search, trending & category) */
.genericList-container {
    width: 100%;
    min-width: 320px;
}

.genericList-container__div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    min-width: 288px;
    margin: 50px auto;
    gap: 10px;
}

.genericList-container .movie-container {
    display: inline-block;
    width: 155px;
    animation-name: fadeIn;
    animation-duration: 4s;
    min-height: 295px;
    background-color: var(--secondary-color);
}

.genericList-container .movie-img {
    display: inline-block;
    width: 100%;
}

.genericList-container__div .movie-body{
    width: 100%;
    min-height: 50px;
    margin-top: 0;
    padding: 10px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
}

.movie-body .movie-body-title {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.movie-favorite {
    display: inline-block;
    background-image: url("../icon/unfavorite_icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.liked {
    display: inline-block;
    background-image: url("../icon/favorite_icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
/* Movie Detail */
.movieDetail-container {
    width: 100%;
    min-width: 320px;
}

.movieDetail-container__div {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    min-width: 288px;
    margin: 0 auto;
    padding: 0 27px;
    margin-top: 203px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    z-index: 1;
    position: relative;
    background-color: transparent;
}

.movieDetail-title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px 0;
    padding: 0;animation-name: fadeIn;
    animation-duration: 2s;
}

.movieDetail-score {
    display: inline-block;
    width: 18%;
    font-weight: var(--font-weight-title2);
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation-name: fadeIn;
    animation-duration: 2s;
}
.movieDetail-score::before {
    content: '★';
    color: var(--yellow);
    font-size: 3.2rem;
    padding-right: 10px;
}

.movieDetail-description {
    margin: 0 0 24px 0;
    animation-name: fadeIn;
    animation-duration: 4s;
}

.relatedMovies-container {
    margin-top: 24px;
    height: 216px;
    width: 100%;
    min-width: 288px;
}

.relatedMovies-title {
    margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
    /*position: absolute;*/
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    min-height: 215px;
    min-width: 288px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #0808084d;
}

.relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 8px;
    animation-name: fadeIn;
    animation-duration: 4s;
    width: 155px;
}

.relatedMovies-scrollContainer .movie-img {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
}


  /* Footer */
footer {
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-width: 320px;
    margin-top: 55px;
}

.footer-social{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-social li {
    padding-left: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 2rem 1rem;
}

.footer-social a {
    color: var(--text_primary);
    text-decoration: none;
}

.footer p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: var(--text_primary);
    padding: 3rem;
}

.footer-linkedin, .footer-github, .footer-twitter, .footer-instagram, .footer-facebook, .footer-web{
    width: 32px;
    height: 32px;
    background-image: url("../icon/linkedin_icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.footer-linkedin {
    background-image: url("../icon/linkedin_icon.svg");
}
.footer-github {
    background-image: url("../icon/github_icon.svg");
}
.footer-twitter {
    background-image: url("../icon/twitter_icon.svg");
}
.footer-instagram {
    background-image: url("../icon/instagram_icon.svg");
}
.footer-facebook {
    background-image: url("../icon/facebook_logo.svg");
}
.footer-web {
    width: 34px;
    height: 34px;
    background-image: url("../icon/web_icon.svg");
}

  /* Navigation */
.inactive {
    display: none;
}

/* Loading skeleton */
.category-container__load {
    width: 108px;
    min-width: 108px;
    height: 40px;
    background-color: var(--primary-load);
    border-radius: 10px;
    cursor: pointer;
    animation-name: imageLoad;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.category-container__load:nth-child(2){
    animation-delay: .3s;
}
.category-container__load:nth-child(3){
    animation-delay: .6s;
}

.category-container__load:nth-child(5){
    animation-delay: .3s;
}
.category-container__load:nth-child(6){
    animation-delay: .6s;
}

.category-container__text-load {
    width: 88px;
    min-width: 88px;
    margin-top: 11px;
    margin-left: 10px;
    height: 20px;
    background-color: var(--secondary-load);
    border-radius: 2px;
    animation-name: textLoad;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
}

.category-container__text-load:nth-child(2){
    animation-delay: .3s;
}
.category-container__text-load:nth-child(3){
    animation-delay: .6s;
}

.category-container__text-load:nth-child(5){
    animation-delay: .3s;
}
.category-container__text-load:nth-child(6){
    animation-delay: .6s;
}


.trendingPreview-movieList .movie-container-load, .trendingPreview-serieList .movie-container-load {
    flex: 0 0 auto;
    margin-right: 8px;
    display: inline-block;
    min-height: 225px;
    width: 150px;
    min-width: 150px;
    background-color: var(--primary-load);
    border-radius: 8px;
    animation-name: imageLoad;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.trendingPreview-movieList .movie-container-load:nth-child(2), trendingPreview-serieList .movie-container-load:nth-child(2){
    animation-delay: .3s;
}
.trendingPreview-movieList .movie-container-load:nth-child(3), trendingPreview-serieList .movie-container-load:nth-child(3){
    animation-delay: .6s;
}
.trendingPreview-movieList .movie-container-load:nth-child(5), trendingPreview-serieList .movie-container-load:nth-child(5){
    animation-delay: .3s;
}
.trendingPreview-movieList .movie-container-load:nth-child(6), trendingPreview-serieList .movie-container-load:nth-child(6){
    animation-delay: .6s;
}

.genericList-container__div .movie-container-load-generic {
    display: inline-block;
    width: 135px;
    height: 205px;
    background-color: var(--primary-load);
    border-radius: 8px;
    cursor: pointer;
    animation-name: imageLoad;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.genericList-container__div .movie-container-load-generic:nth-child(2){
    animation-delay: .3s;
}
.genericList-container__div .movie-container-load-generic:nth-child(3){
    animation-delay: .6s;
}
.genericList-container__div .movie-container-load-generic:nth-child(5){
    animation-delay: .3s;
}
.genericList-container__div .movie-container-load-generic:nth-child(6){
    animation-delay: .6s;
}

.relatedMovies-scrollContainer .movie-container-load-related {
    display: inline-block;
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    background-color: var(--primary-load);
    height: 188px;
    min-height: 188px;
    border-radius: 8px;
    margin-right: 8px;
    animation-name: imageLoad;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.relatedMovies-scrollContainer .movie-container-load-related:nth-child(2){
    animation-delay: .3s;
}
.relatedMovies-scrollContainer .movie-container-load-related:nth-child(3){
    animation-delay: .6s;
}
.relatedMovies-scrollContainer .movie-container-load-related:nth-child(5){
    animation-delay: .3s;
}
.relatedMovies-scrollContainer .movie-container-load-related:nth-child(6){
    animation-delay: .6s;
}

.visible {
    opacity: 1;
    transform: scale(1);
}

@keyframes textLoad {
    0%, 100% {
        background: transparent;
    }
    
    50% {
        background: var(--secondary-load);
    }
}

@keyframes imageLoad {
    0%, 100% {
        background: var(--primary-load);
    }
    
    50% {
        background: transparent;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}